@font-face {
  font-family: 'poppB';
  src: url("../../fonts/poppins/Poppins-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'poppR';
  src: url("../../fonts/poppins/Poppins-Regular.ttf") format('truetype');
}


footer{
  background-color: #0b0b0d;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  font-size: 14px;
  margin-bottom: 0px;


}
.about-footer{
    display: grid;
    justify-content:start;
    padding-left: 2%;
}

.about-footer li{
  display: grid;
  justify-content:flex-start;
  color:#f7f4e8;
}

ul{
  padding-inline-start: 0px;}

.rrss-footer{
  display: flex;
  align-items: center;
}

.logo-rrss{
  width: 140%;
  margin: 1rem;
  gap:0;
  transition: all .3s;
  
}
.logo-rrss-whatsapp{
  width: 60%;
  margin-left:50%;
  gap:0;
  transition: all .3s;
  
}
.logo-rrss-whatsapp:hover{
  transform: scale(1.3); 
}


.logo-rrss:hover{
  transform: scale(1.3); 
}

.info-footer{
  padding-right: 5%;
  display: grid;
  justify-content:flex-end;
  font-family: 'poppR';
}

.info-footer p,li{
  display: grid;
  justify-content:flex-end;
  font-family: 'poppR';
}
 
a{
  text-decoration: none;
  color: #f7f4e8; 
}

a:hover{
  color:#85e6c0
}

.menu-section:hover{
  cursor: pointer;
  color: #297780;
}