
.about-us-main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.bienvenido, .historia, .compromiso, .vision, p {
  color: black;
  text-decoration: none;
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 30px;
}
.h2-section-about-us {
  color: #2f686e;
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;

}