main {
  flex: 1 0 auto;
}
.aboutUsMain {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playpen Sans", cursive;
  font-family: "Poppins", sans-serif;
}

main {
  display: block;
}
body {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: "poppM";
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bienvenido, .historia, .compromiso, .vision, p {
  color: black;
  text-decoration: none;
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}
.h2SectionAboutUs {
  color: #2f686e;
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;

}

section {
  margin-bottom: 30px;
}