.container{
display: flex;
justify-content: center;
padding: 0;
margin: 0;
}

.login-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.width-form-login {
    width: 500px;
    display: flex;
    justify-content: center;
}
.lines-form-register{
    display: flex;
    flex-direction: row;
}
.captcha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-login {
    display: inline-block;
    align-items: center;
    color: #0b0b0d;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5%;
    width: 100%;
    max-width: 425px;
    height: auto
}

@media screen and (max-width: 768px){
.formulario-login{
    padding: 11px;
    margin: 4rem -3rem;
    }
}