/*botones*/
.add-to-cart {
  margin-top: 1rem;
  border: #6bb39b;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  background-color: #6bb39b;
}

.add-to-cart:hover {
  
  background-color: #0b0b0d;
  transform: scale(1.1);
  transition: all 0.5s;
  color:#6bb39b;
}
.back-to-catalog {
  
  padding: 8px 20px;
  background-color: #6bb39b;
  text-decoration: none;
  margin-top: 1rem;
  border: #6bb39b;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
  font-weight: bolder;
  cursor: pointer;
  width: 14rem;
  height: 2rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.back-to-catalog:hover{
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: #0b0b0d;
}



.img-product-detail {
  flex: 1;
  margin-right: 20px;
}

.product-image-detail {
  max-width: 60%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  margin-left:40%;
  margin-top:10%;
}

.product-image-detail:hover {
  transform: scale(1.1); /*Así ampliamos la imagen*/
}


.details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.container-movil-product {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 94px;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 3%;
}

.description {
  flex: 1;
  padding: 0 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  line-height: 0.5px;
}
.description p {
  margin-bottom: 5px; /* Ajusta según tus preferencias */
}

.h2-container-movil-unico {
  font-size: 2rem;
  text-align: center;
  
}

.h2-container-movil-unico:hover {
  color: #297780;
}


.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: #297780;
}

/*BOTON*/

.cantidad {
  display: flex;
  max-width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.btn-position{
  display: flex;
  flex-direction: row;
  margin-left:6rem;
}

.cantidad-input {
  width: 70px;
  height: 30px;
  text-align: right;
  font-size: 20px;
}


/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .main-container {
    padding: 0 20px;
  }

  .product-image-detail {
    width: 100%;
    margin-left: 0;
  }

  .main-product {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .add-to-cart,
  .back-to-catalog {
    width: 100%;
    margin-top: 10px;
    font-size: 0.8rem;
    height: 2rem;
  }

  .cantidad {
    margin-left: 0;
    margin-top: 15px;
  }

  .cantidad-input {
    width: 30px;
    height: 20px;
    font-size: 16px;
  }

  .btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}