


/*botones*/
.add-to-cart {
  margin-top: 1rem;
  border: #6bb39b;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
  font-size: 1rem;
 font-weight: bolder;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  background-color: #6bb39b;

}

.add-to-cart:hover {
  
  background-color: #297780;
  transform: scale(1.1);
  transition: all 0.5s;
}
.back-to-catalog {
  
  padding: 8px 20px;
  background-color: #ffcc00;
   text-decoration: none;
   margin-top: 1rem;
  border: #6bb39b;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
   font-weight: bolder;
  cursor: pointer;
  width: 12rem;
  height: 2rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  
}
.back-to-catalog:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}




/*FICHA PRODUCTO*/

.product-image {
  max-width: 80%;
  max-height: 100%;
  margin-left: 1.5rem;
  width: 400px;
  object-fit: cover; /*Así conseguimos que la imagen se adapte al recuadro que la contiene*/
  transition: all 0.5s; /*Así conseguimos que al ampliar la imagen el efecto sea más suave*/
}

.product-image:hover {
  transform: scale(1.1); /*Así ampliamos la imagen*/
}

/* ul {
  list-style: none;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 16px;
} */


.container-movil-product {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 94px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 3%;
}

.description {
  display: grid;
  justify-items: center;
  align-items: center;
}

.h2ContainerMovilUnico {
  font-size: 2rem;
  text-align: center;
  
}

.h2ContainerMovilUnico:hover {
  color: #297780;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #000000;
  margin-bottom: 1rem;
}

h3:hover {
  color: #297780;
}


.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: #297780;
  
 
}

/*BOTON*/

.cantidad {
  display: flex;
  max-width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.btn-position{
  display: flex;
  flex-direction: row;
}

.cantidad-input {
  width: 40px;
  height: 30px;
  text-align: right;
  font-size: 20px;
}

.btn {
  background-color: #ffff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.btn:hover {
  background-color: #6bb39b;
}

/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .main-container {
    padding: 0 20px; /* Ajusta el padding del contenedor principal */
  }

  .product {
    margin: 20px; /* Ajusta el margen de la sección principal */
  }

  .product-image {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    margin-left: 0; /* Resetea el margen izquierdo */
  }

  .main-product {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los elementos */
    text-align: center; /* Alinea el texto al centro */
  }

  .cantidad {
    margin-left: 0; /* Resetea el margen izquierdo */
  }

  .add-to-cart,
  .clear-cart {
    width: 100%; /* Los botones ocupan todo el ancho disponible */
    margin-top: 10px; /* Ajusta el margen superior */
    font-size: 0.8rem; /* Reduce el tamaño del texto del botón */
    height: 2rem;
  }
  .cantidad {
    margin-left: 0; /* Resetea el margen izquierdo */
    margin-top: 15px; /* Ajusta el margen superior */
  }

  .cantidad-input {
    width: 30px; /* Ancho del input */
    height: 20px; /* Alto del input */
    font-size: 16px; /* Tamaño de la fuente */
  }

  .btn {
    width: 30px; /* Ancho de los botones */
    height: 30px; /* Alto de los botones */
    font-size: 20px; /* Tamaño de la fuente */
  }
}




