
  .mainPasarelaPago{
    font-family: "poppB";
    background-color: #f7f4e8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;
  }
  .divPasarelaPago {
    width: 400px;
    background-color: #f7f4e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease;
    margin: 30px;
}

  .containerPasarelaPago{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .payment-container {
    background-color: #f7f4e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #0b0b0d;
  }
  
  h2 {
    color: #0b0b0d;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 13px;
    text-align: center;
  }
  
  button {
    background-color: #6bb39b;
    color: #f7f4e8;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0b0b0d;
    color: #85e6c0;
  }
  
  .card-icons {
    margin-top: 10px;
  }
  
  .card-icons i {
    font-size: 30px;
    margin-right: 10px;
    color: #555;
  }
  .section-send{
    margin: 4rem;
  }
  .text-area-package{
      width: 400px;
    }
 