/*botones*/


.add-to-cart,
.back-to-catalog {
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #0b0b0d;
  color: #f7f4e8;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-color: #6bb39b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 2rem; 
  padding: 2px;
  
}

.add-to-cart:hover,
.back-to-catalog:hover {
  background-color: #0b0b0d;
  color: #6bb39b;
}


.img-product-detail {
  flex: 1;
  margin-right: 20px;
}
.back-to-catalog {
  width: auto;
}
.product-image-detail {
  max-width: 60%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  margin-left:40%;
  margin-top:10%;
}

.product-image-detail:hover {
  transform: scale(1.1); 
}


.details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.container-movil-product {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 94px;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 3%;
}

.description {
  flex: 1;
  padding: 0 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  line-height: 0.5px;
}
.description p {
  margin-bottom: 5px; 
}

.link-to-return{
margin: 10px;

}

/*BOTON*/

.cantidad {
  display: flex;
  max-width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.btn-position{
  display: flex;
  flex-direction: row;
  margin-left:6rem;
}

.cantidad-input {
  width: 70px;
  height: 30px;
  text-align: right;
  font-size: 20px;
}



@media screen and (max-width: 768px) {
  .container-movil-product {
    padding: 0 10px;
    width:90%;
    margin:1rem;
    display: flex;
    flex-direction: column;

  }

  .product-image-detail {
    width: 100%;
    margin-left: 30%;
  }


  .add-to-cart,
  .back-to-catalog {

    font-size: 0.8rem;
    height: 2rem;
    margin: 5px;
  }

  .cantidad {
    text-align: center;
    margin-top: 15px;
  }

  .cantidad-input {
    width: 4rem;
    height: 2rem;
    font-size: 16px;
}
.btn-position{
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
}