
.productos-lista {
    text-align: center;
    padding: 20px;
}
  

  .search-and-filter {
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .name-product{
    color:#0b0b0d;
  }
  .name-product:hover{
    color:#85e6c0;
  }


  .tarjetas-producto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -10px; 
  }
  

  .tarjeta-producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-top: 1rem;
    width: 250px;
    box-sizing: border-box; 
  }
  
  .tarjeta-producto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .descripcion {
    color: #555;
  }
  
  .precio {
    font-weight: bold;
    color: #0b0b0d;
    margin-left: 50px;
  }


.filter-text{
  margin-left: 3rem;
}
.filter-button {
    display: flex;
    align-items:flex-start;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6bb39b;
    
  }


  
  @media (max-width: 768px) {
    .tarjeta-producto {
      width: calc(50% - 20px); 
    }
  }
  
  @media (max-width: 576px) {
    .tarjeta-producto {
      width: calc(100% - 20px); 
    }

    .search-input-container {
      width: 100%; 
    }
  
    .search-input {
      width: 100%; 
      margin-left: 0;
    }
  
    .search-icon {
      display: none; 
    }
  }
 
