body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
background-color: #f7f4e8;
}

.App{
background-color: #f7f4e8;
}

html,
body {
  height: 100%;
}

body {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: "poppM";
}

main {
  flex: 1 0 auto;
}

/* HEADER*/


.container-nav {
	display: flex;
    align-items: center;
    background-color: #0b0b0d;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    height: 6rem;
    height: 6rem;
}
.menu-toggle {
  display: none;

}

/* Estilos para el menú desplegable */
.nav-space {
  display: block;
}
.nav-space ul {
  display: flex; /* Muestra la lista en horizontal */
}

.nav-space li {
  margin-right: 20px; /* Espacio entre cada enlace */
}
.logo {
  height: 5rem;
  display: flex;
  padding-left: 3rem;
}
.lupa{
	width: 30px;
	height: 30px;
}
.logo-shoppingcart {
	width: 40px;
	margin-right: 15px;
}
.a-nav {
	font-weight: bold;
    margin: 0 25px;
    color: #f7f4e8;
    text-decoration: none;

}
.logo-shoppingcart {
  width: 40px;
  align-items: flex-ends;
}

.cart-amount {
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: red;
  top: 25px;
  right: 12px;
  font-size: 16px;
  margin: 0px;
  border-radius: 50%;
  min-width: 22px;
}
.clean {
  text-decoration: none;
  color: #ffffff00;
}
#frameBuscar {
  width: 170px;
  height: 28px;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 80px;
  right: 0px;
  z-index: 1;
  display: none;
  overflow: hidden;
}
/* FIN HEADER*/

/* INICIO*/ 
.main-offer-index {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.main-image{
  height: 20rem;
  margin-left: 5rem;
  margin-top: 2rem;
  object-fit: cover;
  transition: all .5s;
}
.main-image:hover{
  height: 22rem;
  transition: all .5s;
}

.main-home {
  display: grid;
  justify-items: center;
  padding-top: 2rem;
}
.h1-home{
  font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

.main-button-home {
  height: 5rem;
  background-color: #6bb39b;
  border: #6bb39b;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
  font-size: 2rem;
  font-weight: bold;
}

.section-movil-product{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.div-movil-product{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-movil{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-shadow: 0 3px 6px 0px #000;
  padding: 10px;
  margin: 15px;
  width: 800px;
  border-radius: 10px;
}

  .div-product-json{
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-json{
  height: 15rem;
  }
  .image-json:hover{

      height: 15rem;
      transition: all .9s;
    } 

    .link-to-return{
    display: inline-block;
    padding: 8px 20px;
    background-color: #6bb39b;
    color: #f7f4e8;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px 0px #000;
  }

  .btn-pages{
    background-color: #6bb39b;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 50rem;
      font-size: x-large;
    } 


.btn-pages:hover {
  background-color: #2f8e97bf;
}

/* FIN INICIO*/ 


@media screen and (max-width: 1100px) {
  
  

  .main-image{
    height: 18rem;   
  }
  .main-image:hover{
    height: 20rem;
  }
  .main-offer-index {
    display: flex;
    flex-direction: column;
}
.product-movil{
 justify-content: center;
  box-shadow: 0 3px 6px 0px #000;
  padding: 10px;
  margin: 15px;
  width: 600px;
}
.main-button-home{
  margin-top: 15px;
}
}

@media screen and (max-width: 768px) {
  .nav-space {
    display: none; /* Ocultar el menú normal en pantallas pequeñas */
  }

  .menu-toggle {
    display: block; /* Mostrar el ícono de hamburguesa en pantallas pequeñas */
  }

  .menu-toggle .hamburger {
    /* Estilos para el ícono de hamburguesa, por ejemplo: */
    width: 30px;
    height: 3px;
    
    margin: 5px 0;
    transition: 0.4s;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .nav-space.open {
    display: block; /* Mostrar el menú desplegable al hacer clic en el ícono de hamburguesa */
    z-index: 800;
    margin-top: 11rem;
  }

  .nav-space ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #0b0b0d;
    margin-top: 5rem;
    
    
  }

  .nav-space li {
    margin-bottom: 10px; /* Espacio entre cada enlace */
  }

  .main-image{
    height: 10rem;   
  }
  .main-image:hover{
    height: 10rem;
  }
 .h1-home{
  font-size: 2rem ;
 }
 
.product-movil{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.div-product-json {
  margin-bottom: 2rem;
}
.image-json:hover{
height: 15rem;
}
.main-button-home{
  margin-top: 15px;
}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: "poppM";
}

main {
  flex: 1 0 auto;
}

#frameBuscar {
  width: 170px;
  height: 28px;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 80px;
  right: 0px;
  z-index: 1;
  display: none;
  overflow: hidden;
}
.logo-shoppingcart {
  width: 40px;
  align-items: flex-ends;
}

.cart-amount {
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: red;
  top: 25px;
  right: 12px;
  font-size: 16px;
  margin: 0px;
  border-radius: 50%;
  min-width: 22px;
}

@media screen and (max-device-width: 768px) {
  #frameBuscar {
    top: 200px;
    right: 60px;
  }
}

.clean {
  text-decoration: none;
  color: #ffffff00;
}




